.sidebar {
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden; /*S-comentario-anotação: Deixa os cantos arredondados*/
}

.cover{
    width: 100%;
    height: 72px;
    object-fit: cover; /*S-comentario-anotação: não permite que a imagem fique achatada. Corta pedaços dela para caber no espaço*/
}

.profile{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
}

.profile strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6rem;
}

.profile span {
    font-size: 0.875rem;  /*S-comentario-anotação: 0.875 * 16 = 14px*/
    color: var(--gray-400);

}

.avatar {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 8px solid var(--gray-500);
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 2.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
    width: 100%;
    background: transparent;
    color: var(--gray-500);
    border: 1px solid var(--gray-500);
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    display: block;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem; /*S-comentario-anotação: Espaço entre ícone de lápis (PencilLine) e Edite Seu Perfil*/
    transition: color 0.1s, background-color 0.1s; /*S-comentario-anotação: Adicionar animação de transição ao passar em cima do link com mouse*/

}

.sidebar footer a:hover {
    /*S-comentario-anotação: Adicionar animação ao passar em cima do link com mouse*/
    background: var(--green-500);
    color: var(--white);
}