.wrapper {
    max-width: 70rem; /* "Componente: sidebar 3:10 - Cálculo*/
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /*1fr - tamanho flexível */
    gap: 2rem;
    align-items: flex-start;


}